<nav class="navbar nabvar-light bg-light">
	<div class="button-group">
		<button type="button" class="saved-articles btn btn-primary">Saved Articles</button>
		<button type="button" class="scrape btn btn-secondary">Scrape</button>
	</div>
</nav>

<div class="container">
	<div class="card-columns">
		{{#each articles}}
		<div class="card">
			<img src="{{image}}" alt="" class="card-img-top">
			<div class="card-body">
				<a href="{{url}}"><p class="card-title">{{title}}</p></a>
				<a href="#" id="{{_id}}" class="save btn btn-primary">Save for Later</a>
			</div>
		</div>
		{{/each}}
	</div>
</div>